/* WHOLE WEBISTE */

:root {
    --primary: #abc4e0;
    --secondary: #354360;
    --detail: #ededed;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  
  body {
    color: var(--detail);
  }
  
  .shadow {
    box-shadow: 30px 30px 9px -19px rgba(0, 0, 0, 0.63);
  }
  
  /* ALL SECTIONS ON WEBSITE */
  section {
    height: auto;
    display: flex;
    align-items: center;
    padding: 0 5%;
    width: 100%;
  }
  
  .about-border {
    border-left: 2px solid var(--detail);
    height: 200px;
    padding-left: 1%;
  }
  
  /* HEADER ON WEBSITE */
  
  .navbar {
    position: fixed;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    z-index: 100;
    border-bottom: 2px solid var(--detail);
    transition: 1s;
  }
  .navbar.sticky {
    background-color: var(--secondary);
    padding: 0 5%;
    box-shadow: 1px 11px 20px 0px rgba(0, 0, 0, 0.75);
  }
  
  .navbar .logo {
    font-size: 40px;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
  }
  
  .navbar.sticky .logo {
    border-left: 2px solid var(--detail);
  }
  .navbar .logo a {
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none;
  }
  .navbar .logo a:hover {
    color: var(--detail);
  }
  
  .navbar .menu li {
    list-style: none;
    font-size: 25px;
    display: inline-block;
    padding-right: 20px;
  }
  
  .navbar .menu li a:hover {
    color: var(--secondary);
    border-color: var(--detail);
    background-color: var(--detail);
  }
  
  .menu-toggle {
    display: none;
  }
  
  .menu {
    display: flex;
  }
  
  .menu li {
    display: inline-block;
  }
  
  .navbar.sticky a {
    color: var(--detail);
  }
  
  .navbar.sticky .menu a {
    color: var(--detail);
  }
  
  .menu li a {
    display: block;
    text-decoration: none;
  }
  
  .navbar .menu a {
    font-size: 30px;
    font-weight: bold;
    border: 2px solid var(--detail);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    transition: 0.3s;
    color: var(--secondary);
  }
  
  /* HOME SECTION ON WEBSITE */
  .typing {
    height: 50px;
    color: var(--secondary);
    font-size: 30px;
  }
  
  .home-background {
    padding-top: 3%;
    background: url(/src/home.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    border-bottom: 5px solid var(--detail);
  }
  
  .home-content {
    text-align: center;
    max-width: 750px;
    border-left: 2px solid var(--detail);
    border-bottom: 2px solid var(--detail);
    padding-left: 1%;
    padding-bottom: 1%;
  }
  
  .home-content h1 {
    color: var(--secondary);
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .home-paragraph-holder {
    width: 60%;
    margin: auto;
  }
  
  .home-content p {
    color: var(--secondary);
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
  }
  
  .home-content .btn-box-holder {
    margin: auto;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .home-content .btn-box {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 45px;
    margin: auto;
  }
  
  .btn-box a {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
  
    width: 150px;
    height: 100%;
  
    border: 2px solid var(--secondary);
    color: var(--secondary);
    border-radius: 8px;
    background-color: transparent;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
  }
  
  .btn-box a:hover {
    color: var(--detail);
    border-color: var(--detail);
    background-color: var(--secondary);
  }
  
  .home-sci {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    padding-top: 20%;
  }
  
  .home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--secondary);
    border-radius: 50%;
    font-size: 20px;
    color: var(--secondary);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
  }
  
  .home-sci a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
    background-color: var(--secondary);
  }
  .home-sci a:hover {
    color: var(--detail);
    border-color: var(--detail);
  }
  
  .home-sci a:hover::before {
    width: 100%;
  }
  
  /* about */
  .about-background {
    background: linear-gradient(
      90deg,
      var(--secondary) 0%,
      var(--primary) 60%,
      var(--detail) 100%
    );
    min-height: 100vh;
    border-bottom: 2px solid var(--detail);
  }
  
  .about-container {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
  }
  
  .sub-container-one,
  .sub-container-two {
    width: 50%;
  }
  
  .sub-container-one {
    margin: auto;
    color: var(--detail);
    padding: 1%;
  }
  
  .text-of-sub-container-one {
    width: 100%;
    font-size: 16px;
    line-height: 2;
    text-align: left;
  }
  
  .sub-container-two {
    margin: auto;
    background: transparent;
  }
  /* Slider container */
  .slider {
    width: 60%;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid var(--detail);
    box-shadow: 19px 19px 25px 0px rgba(0, 0, 0, 0.75);
  }
  
  /* Slider content */
  .slider-content {
    display: flex;
    width: 400%;
    animation: slide 10s infinite;
  }
  
  /* Slide */
  .slide {
    flex: 1;
    width: 100%;
    transition: transform 1s;
  }
  
  /* Images */
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Animation */
  @keyframes slide {
    0% {
      transform: translate(0%);
    }
    33.33% {
      transform: translate(-25%);
    }
    66.66% {
      transform: translate(-50%);
    }
    99.99% {
      transform: translate(-75%);
    }
    100% {
      transform: translate(-75%);
    }
  }
  
  /* My-quotes */
  .quotes-background {
    border-top: none;
    border-bottom: 5px solid var(--secondary);
    padding-top: 1%;
    padding-bottom: 1%;
    background: var(--primary);
  }
  
  .quotes {
    color: var(--secondary);
    font-size: 18px;
    font-weight: bold;
    font-family: "Noto Sans Nag Mundari", sans-serif;
    padding-left: 1%;
    height: 175px;
  }
  
  /* Services */
  
  .services-background {
    background-color: var(--primary);
    flex-direction: column;
  }
  
  .services-header {
    padding-top: 10%;
    font-size: 30px;
    color: var(--secondary);
  }
  
  .services-welcome-text {
    padding-bottom: 10%;
    color: var(--secondary);
    text-decoration: underline;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding-bottom: 10%;
  }
  
  .openModalBtn {
    padding: 1%;
    font-size: 36px;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid var(--secondary);
    color: var(--secondary);
  }
  .openModalBtn:hover {
    color: var(--detail);
    border-color: var(--detail);
    background-color: var(--secondary);
  }
  
  .modal {
    background: radial-gradient(circle, var(--primary) 0%, var(--detail) 100%);
    color: var(--secondary);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
  }
  
  .modal-content {
    object-fit: cover;
    font-size: 20px;
    padding: 30px;
    margin: auto;
    border: 2px solid var(--secondary);
    width: 70%;
    font-weight: 600;
    height: 70%;
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .modal-content-header {
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
  }
  
  .close {
    color: var(--detail);
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
    float: right;
    width: 10%;
    padding: 1%;
    margin-left: 45%;
    border-radius: 5px;
    border: 2px solid var(--detail);
    background-color: var(--secondary);
  }
  
  .close:hover,
  .close:focus {
    color: var(--detail);
    border-color: var(--detail);
    background-color: var(--secondary);
    text-decoration: none;
    cursor: pointer;
  }
  
  /* contact */
  .contact-background {
    background: radial-gradient(circle, var(--primary) 0%, var(--secondary) 100%);
    background-size: cover;
  }
  
  .contact-form-container {
    margin: auto;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  .form {
    width: 340px;
    height: 480px;
    background: var(--primary);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    position: relative;
  }
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid var(--secondary);
  }
  input:focus {
    border-bottom: 2px solid var(--detail);
  }
  p:before {
    content: attr(type);
    display: block;
    margin: 32px 0 0;
    font-size: 14px;
    color: var(--detail);
  }
  .my-info-holder {
    position: absolute;
    bottom: -20px;
    right: -40px;
    left: 30px;
    background: var(--secondary);
    border: 2px solid var(--detail);
    padding: 12px;
    border-radius: 5px;
  }
  .send-form-button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid var(--detail);
    background: 0;
    color: var(--detail);
    cursor: pointer;
    transition: all 0.3s;
  }
  .send-form-button:hover {
    background: var(--secondary);
    color: var(--detail);
  }
  
  .title {
    text-align: center;
    font-size: 35px;
    padding-top: 10%;
  }
  
  .send-button-container {
    width: 100%;
  }
  
  /* FOOTER */
  .footer {
    background-color: var(--primary);
    text-decoration: none;
    padding: 0.3% 5%;
    display: flex;
  }
  
  .footer .footer-text {
    padding-left: 2%;
    border-left: 2px solid var(--detail);
    color: var(--secondary);
  }
  
  .footer span a {
    color: var(--detail);
  }
  @media (max-width: 1600px) {
    .home-content {
      border-left: 2px solid var(--detail);
      border-bottom: 2px solid var(--detail);
    }
    .home-content h1 {
      color: var(--secondary);
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 1250px) {
    .navbar .logo a {
      color: var(--detail);
      font-weight: 600;
      text-decoration: none;
    }
  
    .modal {
      color: var(--detail);
    }
  
    :root {
      --primary: #393239;
      --secondary: #4c4b4c;
      --detail: #d8cfc3;
    }
  
    .quotes {
      color: var(--detail);
    }
  
    #name-link br {
      display: none;
    }
  
    .navbar .menu a {
      font-size: 25px;
      font-weight: bold;
      border: 2px solid var(--detail);
      border-radius: 5px;
      padding: 4px;
      text-decoration: none;
      transition: 0.3s;
      color: var(--detail);
    }
  
    .home-background {
      padding-top: 3%;
      background: url(/src/home1250.png) no-repeat;
      background-size: cover;
      height: 110vh;
      border-bottom: 5px solid var(--detail);
    }
  
    .home-content p {
      color: var(--detail);
      font-size: 16px;
      margin: 20px 0;
      text-align: center;
    }
  
    .btn-box a {
      border: 2px solid var(--detail);
      color: var(--detail);
      border-radius: 6px;
      background-color: transparent;
      font-size: 16px;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 1px;
      transition: 0.3s;
    }
  
    .services-background {
      background-color: var(--detail);
      flex-direction: column;
    }
  
    .contact-background {
      background-color: var(--detail);
      background-size: cover;
    }
  
    .welcome-text h1 {
      color: var(--detail);
    }
    .typing {
      color: var(--detail);
    }
  
    .home-sci {
      width: 40%;
      margin: auto;
    }
  
    .home-sci a {
      color: var(--detail);
      border-color: var(--detail);
    }
  
    .home-sci a::before {
      background-color: var(--secondary);
    }
    .home-sci a:hover {
      color: var(--detail);
      border-color: var(--detail);
    }
    .sub-container-one,
    .sub-container-two {
      width: 100%;
    }
    .sub-container-two {
      padding-bottom: 5%;
    }
    .slider {
      width: 50%;
    }
  
    .about-background {
      background: rgb(237, 237, 237);
      background: linear-gradient(
        0deg,
        var(--detail) 0%,
        var(--primary) 49%,
        var(--secondary) 100%
      );
    }
  
    .text-of-sub-container-one {
      width: 90%;
      margin: auto;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      padding-bottom: 5%;
    }
    .quotes {
      font-size: 16px;
      padding-left: 1%;
      height: 175px;
    }
  
    .modal-content {
      font-size: 16px;
    }
  
    .openModalBtn {
      font-size: 25px;
    }
    .close {
      font-size: 15px;
    }
  }
  @media (max-width: 1050px) {
    .menu-toggle {
      display: block;
      cursor: pointer;
      float: right;
      margin-right: 20px;
      z-index: 100;
    }
  
    .menu-toggle .hamburger {
      width: 30px;
      height: 4px;
      background-color: var(--detail);
      margin: 6px 0;
      transition: 0.4s;
    }
  
    /* Animation for the hamburger menu */
    .menu-toggle.active .hamburger:nth-child(1) {
      transform: rotate(-45deg) translate(-6px, 6px);
    }
  
    .menu-toggle.active .hamburger:nth-child(2) {
      opacity: 0;
    }
  
    .menu-toggle.active .hamburger:nth-child(3) {
      transform: rotate(45deg) translate(-6px, -6px);
    }
  
    /* Mobile menu styles */
    .navbar .menu {
      display: block;
      background-color: var(--primary);
      position: fixed;
      top: 0;
      right: -100%;
      height: 100vh;
      width: 100%;
      padding: 20px;
      transition: 0.5s;
      padding-top: 15vh;
    }
  
    .navbar .menu li {
      display: block;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .navbar .menu a {
      font-size: 25px;
      font-weight: bold;
      color: var(--secondary);
      text-decoration: none;
      transition: 0.3s;
    }
  
    .navbar .menu a:hover {
      color: white;
    }
  
    /* Show the mobile menu when active */
    .navbar .menu-toggle.active ~ .menu {
      right: 0;
    }
    .quotes {
      font-size: 14px;
      padding-left: 1%;
      height: 175px;
    }
    .openModalBtn {
      font-size: 20px;
    }
    .modal-content {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
    }
    .close {
      font-size: 20px;
      width: 20%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (max-width: 650px) {
    .navbar .logo {
      font-size: 30px;
      margin-right: 40px;
    }
  
    .home-content {
      padding-top: 10%;
      border-bottom: none;
      border-left: none;
    }
  
    .home-background {
      height: 100%;
      width: 100%;
    }
  
    .welcome-text h1 {
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 0;
    }
    .home-paragraph-holder {
      width: 90%;
      margin: auto;
    }
    .typing {
      font-size: 20px;
    }
    .btn-box-holder {
      flex-direction: column;
      align-items: center;
    }
    .btn-box {
      padding-top: 3%;
    }
    .home-sci {
      padding-top: 5%;
    }
    .quotes {
      font-size: 13px;
      padding-left: 1%;
      height: 200px;
    }
    .button-container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .modal-content {
      font-size: 12px;
      padding: 30px;
    }
  }
  @media (max-width: 500px) {
    .navbar .logo {
      font-size: 25px;
    }
    .navbar.sticky {
      background-color: var(--primary);
      box-shadow: 1px 11px 20px 0px rgba(0, 0, 0, 0.75);
    }
    .menu-toggle .hamburger {
      width: 20px;
      height: 3px;
      margin: 4px 0;
    }
    .quotes {
      font-size: 13px;
      padding-left: 1%;
      height: 250px;
    }
    .modal {
      overflow: auto;
    }
    .modal-content {
      font-size: 13px;
      padding: 10px;
    }
  }
  