.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 15px;
  color: var(--detail);
  width: 100%;
  border-bottom: 2px solid var(--detail);
  height: 30px;

  box-shadow: 1px 10px 24px 6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 10px 24px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 24px 6px rgba(0, 0, 0, 0.75);
}

.center-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.brand-logo {
  text-decoration: none;
  color: var(--detail);
  font-weight: bold;
}

.right-buttons {
  display: flex;
}

.nav-button {
  margin-right: 50px;
  text-decoration: none;
  color: var(--detail);
}

.dropdown-menu {
  position: relative;
  margin-right: 50px;
}

.dropdown-menu .dropbtn {
  display: block;
  background-color: var(--primary);
  color: var(--detail);
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown-menu .dropdown-content {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  transform: translateX(-50%);
  background-color: var(--primary);
  width: 280px;
  z-index: 1;

  border: 2px solid var(--detail);
  border-radius: 5px;
}

.dropdown-menu .dropdown-content a {
  display: block;
  color: var(--detail);
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.dropdown-menu .dropdown-content a:hover {
  background-color: var(--transparent);
}

.link-divider {
  width: 90%;
  border-bottom: 1px solid var(--detail);
}

@media screen and (max-width: 1050px) {
  .left-buttons,
  .right-buttons {
    display: none;
  }

  .center-button {
    position: relative;
    left: 65px;
  }

  .brand-logo {
    text-decoration: none;
    color: var(--detail);
    font-weight: bold;
  }

  .dropdown-menu {
    display: block;
  }

  .dropdown-menu .dropdown-content {
    display: none;
  }

  .dropdown-menu.open .dropdown-content {
    display: block;
  }
}
