.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 15px;
  color: var(--detail);
  width: 100%;

  box-shadow: 1px 10px 24px 6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 10px 24px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 24px 6px rgba(0, 0, 0, 0.75);
}

.center-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.brand-logo {
  text-decoration: none;
  color: var(--detail);
  font-weight: bold;
}

.right-buttons {
  display: flex;
}

.nav-button {
  margin-right: 50px;
  text-decoration: none;
  color: var(--detail);
  border: none;
  border-bottom: 1px solid var(--detail);
  padding: 2px 5px;
}

.login{
  background-color: transparent;
  cursor: pointer;
}

.dropdown-menu .dropdown-content {
  display: none; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  z-index: 1; 
  flex-direction: column;
}

/* Dropdown Menu Styling */
.dropdown-menu .dropdown-content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #a8a29e, #4b5563);
  padding-top: 20px; /* Added padding at the top */
}

.dropdown-menu.open .dropdown-content {
  display: flex;
}

/* Dropdown Button Styling */
.dropdown-menu .dropbtn {
  display: block;
  color: var(--detail);
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 15px 30px; /* Adjusted padding */
}

/* Link Styling */
.dropdown-menu .dropdown-content a {
  color: var(--detail);
  text-decoration: none;
  padding: 20px;
  font-size: 20px; /* Increased font size */
  transition: background-color 0.3s ease;
  width: 100%; /* Full width */
}

.dropdown-menu .dropdown-content a:hover {
  background-color: var(--transparent);
}

/* Separator and Login Button Styling */
.dropdown-menu .dropdown-content .link-divider {
  width: 80%;
  border-bottom: 1px solid var(--detail);
  margin: 20px 0; /* Added margin for spacing */
}

.dropdown-menu .dropdown-content .login {
  background-color: var(--accent-color); /* Change to desired color */
  color: white; /* Adjust color as needed */
  padding: 15px 20px;
  margin-top: 15px; /* Added space above login button */
  font-weight: bold; /* Optional: for emphasis */
  border-radius: 5px; /* Rounded corners */
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 1050px) {
  /* ... existing styles ... */
}
