<div class="modal-content" [@slideInOut]="'in'">
  <h2 class="modal-title">Register</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mat-form-field-holder">
      <mat-form-field class="form-field-content" appearance="outline">
        <mat-label class="input-text-color">Email</mat-label>
        <input matInput class="input-text-color" type="email" required />
      </mat-form-field>
    </div>

    <div class="mat-form-field-holder">
      <mat-form-field class="form-field-content" appearance="outline">
        <mat-label class="input-text-color">Password</mat-label>
        <input matInput class="input-text-color" type="password" required />
      </mat-form-field>
    </div>
  </form>

  <div class="form-buttons">
    <button class="register-button">Register</button>
  </div>
  <div class="form-buttons">
    <button class="login-button" (click)="openLoginModal()">Back to login</button>
  </div>
</div>
