<section class="services-background" id="services">
    <div class="services-header"><h1>Mine Ydelser</h1></div>
    <div class="services-welcome-text"><h3>Nedenfor er mine ydelser præsenteret.</h3></div>
    <div class="button-container">
      <button class="openModalBtn" data-modal="modal1">Personlig træning</button>
      <button class="openModalBtn" data-modal="modal2">Online personlig træning</button>
      <button class="openModalBtn" data-modal="modal3">Kostvejledning</button>
    </div>
  
    <div id="modal1" class="modal">
      <div class="modal-content">
        <div class="modal-content-header"><h2>Personlig træning</h2><br></div>
        <p>En personlig træner er det rigtige valg for dig, hvis du ønsker at
          udfordre dig selv, blive klogere på din egen krop samt opnå
          resultater, du måske ikke har kunne opnå før. Jeg mener, at god
          kemi og et stærkt samarbejde er essentielt, når det omhandler
          personlig træning. På baggrund af det, vil jeg altid tage en
          uformel og uforpligtende samtale, hvor vi sammen snakker om dine
          forventninger og udarbejder dine målsætninger. Et forløb hos mig
          bliver skræddersyet til dine hverdagsmønstre – et forløb skal
          tilpasses dig, så det er realistisk og motiverende. Jeg arbejder
          med personlig træning i København, med fokus på styrketræning. Jeg
          mener nemlig, at styrketræning er et eminent værktøj til et godt
          vægttab og en sund krop. Jeg vil med min ekspertise indenfor
          anatomi, fysiologi og styrketræning, præsentere dig for en masse
          forskellige øvelser samt give dig nogle gode redskaber, så du selv
          har viden samt mulighed for, at fortsætte din træning og selv
          sammensætte dem, når du engang er på egen hånd. Personlig træning
          hos mig indebærer, at vi mødes nogle gange ugentligt eller
          månedligt alt efter hvilket forløb du vælger. Jeg vil give dig
          kostvejledning og træningsprogrammering, konkrete redskaber til
          selvhjælp. Derudover vil jeg give dig ubegrænset telefonisk
          support samt ugentlige check-ins omhandlende din vægt, mål,
          livsstil mm.
          <br />
          Alle PT-forløb indeholder:
          <ul>
            <li>En indledende og uforpligtende samtale</li>
            <li>
              Personlig træning 1,2 eller 3x gange ugentligt (også mulighed
              for at holde det på hver 2. uge)
            </li>
            <li>Kostvejledning</li>
            <li>Træningsprogrammer samt træningsvejledning</li>
            <li>Support via besked/mail/telefon</li>
          </ul>
      <button class="close">Close</button>
      </div>

    </div>
  
    <div id="modal2" class="modal">
      <div class="modal-content">
        <div class="modal-content-header"><h1>Online personlig træning</h1><br></div>
        <p>Jeg tilbyder også online personlig træning. Et sådan forløb er
          præcis det samme som et fysisk forløb, dog uden de fysiske
          træningstimer. Træningsprogrammering, kostvejledning, check-ins
          samt 1-1 kontakten er præcis den samme som et fysisk forløb hos
          mig. Der er i dette forløb i højere grad kommunikation telefonisk,
          da du netop ikke mødes med mig fysisk hver uge. Der er i online
          personlig træning stor fokus på, at gå i dybden med din kost,
          træning og livsstil. Udover de basale ting i et forløb, vil der
          være rig mulighed for, at snakke om de forskellige
          problemstillinger du møder og finde frem til en løsning. Det er
          min målsætning som din personlig træner, at gøre dig komfortabel
          og tryg i et fitnesscenter men også omkring din kost og livsstil.
          Et online personlig træningsforløb er perfekt til dig, som ønsker
          personlig træning online (og ikke bare en online coach), men som
          ikke har mulighed for et fysisk PT-forløb. Grundet de manglende
          fysiske træningstimer, skal du være opsat på at vedligeholde en
          god kommunikation, så du kan få det bedste ud af dit forløb.
          Endvidere er online personlig træning den billigste service jeg
          tilbyder, så tøv ikke med at udfylde kontakt formularen og kom i
          kontakt med mig.</p>
      <button class="close">Close</button>

      </div>
    </div>
  
    <div id="modal3" class="modal">
      <div class="modal-content">
        <div class="modal-content-header"><h1>Kostvejledning</h1><br></div>
        <p>Jeg arbejder som personlig træner og kostvejleder i København. Som
          kostvejleder brænder jeg for, at hjælpe mennesker til at opnå en
          varig livsstilsændring samt dét at føle sig bedre tilpas i sin
          krop. Det er ofte svært at ændre sin livsstil på egen hånd og
          derfor kan jeg hjælpe dig med nogle gode værktøjer, nyttig viden
          samt hjælp, sparring og støtte hele vejen gennem dit forløb OG
          samtaler efter dit forløb, såfremt behovet er der. Jeg kan hjælpe
          dig med, at lægge en effektiv og gennemtænkt plan, som vil hjælpe
          dig på rette kurs mod dit mål. Jeg lægger stor vægt på, at intet
          er forbudt hos mig og vi arbejder med madvaner og ikke madvarer.
          Intet kan enkeltstående være sundt eller usundt. En tilgang med en
          stram kostplan, restriktivitet og uinspirerende træninger vil ikke
          være holdbart. I et forløb hos mig, finder vi en tilgang, som
          passer til hvem du er og hvordan du lever dit liv. En holdbar
          tilgang, som du kan se dig selv fortsætte med</p>
      <button class="close">Close</button>
      </div>
      <app-slider-indicator
      [text]="currentText"
      [activeIndex]="currentIndex"
    ></app-slider-indicator>
    </div>
  </section>