.services-background {
  height: 100vh;
  background: linear-gradient(to bottom, #a8a29e, #4b5563);
}

.services-header {
  display: flex;
  margin: auto;
  justify-content: center;
  color: var(--detail);
}

.services-header .sub-text {
  color: var(--primary);
}

.my-services-header {
  margin: 0;
}

.services-container {
  display: flex;
}

.services-left {
  width: 50%;
  border-right: 1px solid var(--detail);
}

.services-left-container,
.services-right-container {
  width: 95%;
  margin: auto;
}

.services-right {
  width: 50%;
  text-align: center;
}

.my-reviews-header {
  color: var(--detail);
}
.text-format {
  margin: 5%;
}

.my-reviews-container {
  height: 200px;

  padding: 3%;
  text-align: left;
}

.review-name {
  color: var(--detail);
}
.review-text {
  color: var(--detail);
}

.arrow-button-container {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.arrow {
  cursor: pointer;
  background-color: transparent;
  font-size: 24px;
  color: var(--detail);
  flex-direction: row;
}

.arrow-left {
  left: calc(50% + 20px);
}

.arrow-right {
  right: 20px;
}

.arrow:hover {
  color: #ddd;
}

mat-expansion-panel {
  background-color: transparent;
  color: var(--detail);
  margin-bottom: 3%;
}

.mat-expansion-panel-header {
  font-size: 14px;
  border: 2px solid var(--detail);
}

mat-panel-title {
  color: var(--detail);
  white-space: nowrap;
}

.disable_ripple:hover {
  background: transparent !important;
}

@media screen and (max-width: 1024px) {
  .services-left {
    width: 60%;
  }
  .services-right {
    width: 40%;
  }
  .services-left-container,
  .services-right-container {
    width: 99%;
  }
  .text-format {
    font-size: 10px;
    margin: 1%;
  }

  .slider-display {
    display: none;
  }
}
@media screen and (max-width: 912px) {
  .services-left {
    width: 50%;
  }
  .services-right {
    width: 50%;
  }
  .text-format {
    font-size: 18px;
  }
  .mat-expansion-panel-header {
    font-size: 16px;
  }
}
@media screen and (max-width: 820px) {
  .services-container {
    flex-direction: column;
  }
  .services-right {
    padding-top: 10%;
    width: 100%;
  }
  .services-left {
    width: 100%;
    border-right: none;
  }
}
@media screen and (max-width: 540px) {
  .text-format {
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  .text-format {
    font-size: 11px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 375px) {
  .text-format {
    line-height: 1.2;
  }
  .mat-expansion-panel-header {
    font-size: 12px;
  }
}
@media screen and (max-width: 280px) {
  .text-format {
    line-height: 1;
    font-size: 10px;
  }
}
