<div
  class="services-background bg-gradient-to-r from-stone-500 to-stone-700"
  id="services"
>
  <div class="services-header">
    <h1 class="my-services-header">Mine Ydelser</h1>
  </div>
  <div class="services-header">
    <p class="sub-text">Nedenfor er mine ydelser præsenteret.</p>
  </div>

  <div class="services-container">
    <div class="services-left">
      <div class="services-left-container">
        <mat-accordion>
          <mat-expansion-panel class="mat-panel-holder">
            <mat-expansion-panel-header class="disable_ripple">
              <mat-panel-title> Personlig træning </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="text-format">
              <p>
                En personlig træner er det rigtige valg for dig, hvis du ønsker
                at udfordre dig selv, blive klogere på din egen krop samt opnå
                resultater, du måske ikke har kunne opnå før. Jeg mener, at god
                kemi og et stærkt samarbejde er essentielt, når det omhandler
                personlig træning. På baggrund af det, vil jeg altid tage en
                uformel og uforpligtende samtale, hvor vi sammen snakker om dine
                forventninger og udarbejder dine målsætninger. Et forløb hos mig
                bliver skræddersyet til dine hverdagsmønstre – et forløb skal
                tilpasses dig, så det er realistisk og motiverende. Jeg arbejder
                med personlig træning i København, med fokus på styrketræning.
                Jeg mener nemlig, at styrketræning er et eminent værktøj til et
                godt vægttab og en sund krop. Jeg vil med min ekspertise
                indenfor anatomi, fysiologi og styrketræning, præsentere dig for
                en masse forskellige øvelser samt give dig nogle gode redskaber,
                så du selv har viden samt mulighed for, at fortsætte din træning
                og selv sammensætte dem, når du engang er på egen hånd.
                Personlig træning hos mig indebærer, at vi mødes nogle gange
                ugentligt eller månedligt alt efter hvilket forløb du vælger.
                Jeg vil give dig kostvejledning og træningsprogrammering,
                konkrete redskaber til selvhjælp. Derudover vil jeg give dig
                ubegrænset telefonisk support samt ugentlige check-ins
                omhandlende din vægt, mål, livsstil mm.
                <br />
                Alle PT-forløb indeholder:
              </p>

              <ul>
                <li>En indledende og uforpligtende samtale</li>
                <li>
                  Personlig træning 1,2 eller 3x gange ugentligt (også mulighed
                  for at holde det på hver 2. uge)
                </li>
                <li>Kostvejledning</li>
                <li>Træningsprogrammer samt træningsvejledning</li>
                <li>Support via besked/mail/telefon</li>
              </ul>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-panel-holder">
            <mat-expansion-panel-header class="disable_ripple">
              <mat-panel-title> Online personlig træning </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="text-format">
              <p>
                Jeg tilbyder også online personlig træning. Et sådan forløb er
                præcis det samme som et fysisk forløb, dog uden de fysiske
                træningstimer. Træningsprogrammering, kostvejledning, check-ins
                samt 1-1 kontakten er præcis den samme som et fysisk forløb hos
                mig. Der er i dette forløb i højere grad kommunikation
                telefonisk, da du netop ikke mødes med mig fysisk hver uge. Der
                er i online personlig træning stor fokus på, at gå i dybden med
                din kost, træning og livsstil. Udover de basale ting i et
                forløb, vil der være rig mulighed for, at snakke om de
                forskellige problemstillinger du møder og finde frem til en
                løsning. Det er min målsætning som din personlig træner, at gøre
                dig komfortabel og tryg i et fitnesscenter men også omkring din
                kost og livsstil. Et online personlig træningsforløb er perfekt
                til dig, som ønsker personlig træning online (og ikke bare en
                online coach), men som ikke har mulighed for et fysisk
                PT-forløb. Grundet de manglende fysiske træningstimer, skal du
                være opsat på at vedligeholde en god kommunikation, så du kan få
                det bedste ud af dit forløb. Endvidere er online personlig
                træning den billigste service jeg tilbyder, så tøv ikke med at
                udfylde kontakt formularen og kom i kontakt med mig.
              </p>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-panel-holder">
            <mat-expansion-panel-header class="disable_ripple">
              <mat-panel-title> Kostvejledning </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="text-format">
              <p>
                Jeg arbejder som personlig træner og kostvejleder i København.
                Som kostvejleder brænder jeg for, at hjælpe mennesker til at
                opnå en varig livsstilsændring samt dét at føle sig bedre tilpas
                i sin krop. Det er ofte svært at ændre sin livsstil på egen hånd
                og derfor kan jeg hjælpe dig med nogle gode værktøjer, nyttig
                viden samt hjælp, sparring og støtte hele vejen gennem dit
                forløb OG samtaler efter dit forløb, såfremt behovet er der. Jeg
                kan hjælpe dig med, at lægge en effektiv og gennemtænkt plan,
                som vil hjælpe dig på rette kurs mod dit mål. Jeg lægger stor
                vægt på, at intet er forbudt hos mig og vi arbejder med madvaner
                og ikke madvarer. Intet kan enkeltstående være sundt eller
                usundt. En tilgang med en stram kostplan, restriktivitet og
                uinspirerende træninger vil ikke være holdbart. I et forløb hos
                mig, finder vi en tilgang, som passer til hvem du er og hvordan
                du lever dit liv. En holdbar tilgang, som du kan se dig selv
                fortsætte med
              </p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="services-right">
      <div class="services-right-container">
        <h3 class="my-reviews-header">Mine anmeldelser</h3>
        <div class="services-right-header">
          <div class="my-reviews-container">
            <h3 class="review-name text-format">{{ currentReview.name }}</h3>
            <p class="review-text text-format">{{ currentReview.text }}</p>
          </div>
        </div>

        <div class="arrow-button-container">
          <button class="arrow arrow-left" (click)="previousReview()">
            &#10094;
          </button>
          <button class="arrow arrow-right" (click)="nextReview()">
            &#10095;
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-slider-indicator
  class="slider-display"
    [text]="currentText"
    [activeIndex]="currentIndex"
    [activeColor]="'var(--detail)'"
    [inactiveColor]="'var(--primary)'"
    [textColor]="'var(--detail)'"
  ></app-slider-indicator>
</div>
