<div class="about-background bg-gradient-to-r from-stone-500 to-stone-700" id="about">
  <div class="about-container">
    <div class="sub-container-one">
      <h3 class="text-of-sub-container-one">
        Mit navn er Jennifer og jeg brænder for, at hjælpe mennesker til en
        sundere hverdag. Jeg er uddannet Personlig Træner og Kostvejleder og har
        mange års erfaring inde for feltet. Jeg er bosat i København og jeg
        kører mine personlige træninger i Sporting Health Club på Borups Allé.
        Jeg har en dybdegående forståelse for kroppens anatomi og forstår
        derfor, at sundhed og træning er individuelt. Dermed lægges der hos mig
        stor fokus på, at vi finder en løsning, som specifikt passer til dig.
        Både kost og træning skal tilpasses dit liv, og ikke omvendt. Derfor er
        det vigtigt, at du vælger den helt den rigtige personlige træner for
        DIG. <br />

        Som følge deraf vil der hos mig, altid foregå en uforpligtende
        indledende samtale inden dit forløb. Mit fokus er dine mål, udfordringer
        og forventninger til dit forløb. Det er essentielt for mig, at jeg
        forstår hvem du er som person samt kender din hverdag og personlige
        behov, så jeg på den måde kan sammensætte et forløb unikt til dig.
      </h3>
    </div>
    <div class="sub-container-two">
      <div class="slider">
        <div class="slider-content">
          <div class="slide">
            <img src="/assets/about1.jpeg" alt="Image 1" />
          </div>
          <div class="slide">
            <img src="/assets/about2.jpeg" alt="Image 2" />
          </div>
          <div class="slide">
            <img src="/assets/about3.jpeg" alt="Image 3" />
          </div>
          <div class="slide">
            <img src="/assets/about1.jpeg" alt="Image 3" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-slider-indicator
    [text]="currentText"
    [activeIndex]="currentIndex"
    [activeColor]="'var(--detail)'"
    [inactiveColor]="'var(--primary)'"
    [textColor]="'var(--detail)'"
  ></app-slider-indicator>
</div>
