.about-background {
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--detail) 90%,
    var(--detail) 100%
  );
  min-height: 100vh;
}

.about-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.sub-container-one,
.sub-container-two {
  width: 50%; /* Adjust the width as necessary */
}

.sub-container-one {
  color: var(--detail);
}

.text-of-sub-container-one {
  font-size: 16px;
  line-height: 2;
  text-align: left;
  width: 90%;
  margin: auto;
}

.slider {
  width: 100%; /* Adjust slider width to fill the container */
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 19px 19px 25px 0px rgba(0, 0, 0, 0.75);
}

  
  /* Slider content */
  .slider-content {
    display: flex;
    width: 400%;
    animation: slide 10s infinite;
  }
  
  /* Slide */
  .slide {
    flex: 1;
    width: 100%;
    transition: transform 1s;
  }
  
  /* Images */
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Animation */
  @keyframes slide {
    0% {
      transform: translate(0%);
    }
    33.33% {
      transform: translate(-25%);
    }
    66.66% {
      transform: translate(-50%);
    }
    99.99% {
      transform: translate(-75%);
    }
    100% {
      transform: translate(-75%);
    }
  }