.about-background {
  height: 100vh;
}

.about-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.sub-container-one,
.sub-container-two {
  width: 50%;
}

.sub-container-one {
  color: var(--detail);
}

.text-of-sub-container-one {
  font-size: 16px;
  line-height: 2;
  text-align: left;
  width: 70%;
  margin: auto;
}

.slider {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 19px 19px 25px 0px rgba(0, 0, 0, 0.75);
}

/* Slider content */
.slider-content {
  display: flex;
  width: 400%;
  animation: slide 15s infinite;
}

/* Slide */
.slide {
  flex: 1;
  width: 100%;
  transition: transform 1s;
}

/* Images */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animation */
@keyframes slide {
  0% {
    transform: translate(0%);
  }
  33.33% {
    transform: translate(-25%);
  }
  66.66% {
    transform: translate(-50%);
  }
  99.99% {
    transform: translate(-75%);
  }
  100% {
    transform: translate(-75%);
  }
}
@media screen and (max-width: 1280px) {
  /* Styles for max-width 1280px */
  .text-of-sub-container-one {
    width: 90%;
    font-size: 14px;
  }
  @media screen and (max-width: 1024px) {
    /* Styles for max-width 1024px */
    .text-of-sub-container-one {
      font-size: 14px;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  }
  @media screen and (max-width: 912px) {
    /* Styles for max-width 1024px */
    .about-container {
      flex-wrap: nowrap;
      margin: none;
      width: 100%;
      flex-direction: column;
    }
    .sub-container-one {
      width: 80%;
    }
    .text-of-sub-container-one {
      font-size: 18px;
      height: 32vh;
    }
    .sub-container-one {
      width: 90%;
    }
    .sub-container-two {
      width: 70%;
    }
  }
  @media screen and (max-width: 912px) {
    /* Styles for max-width 1024px */
    .sub-container-one {
      width: 60%;
    }

    .text-of-sub-container-one {
      font-size: 18px;
      justify-content: center;
      align-items: center;
      height: auto;
      padding-bottom: 10%;
    }
    .sub-container-one {
      width: 80%;
    }
    .sub-container-two {
      width: 50%;
    }
  }
  @media screen and (max-width: 768px) {
    /* Styles for max-width 1024px */
    .sub-container-one {
      width: 100%;
    }

    .text-of-sub-container-one {
      font-size: 15px;
      justify-content: center;
      align-items: center;
      height: auto;
      padding-bottom: 5%;
    }
    .sub-container-one {
      width: 80%;
    }
    .sub-container-two {
      width: 50%;
    }
  }
  @media screen and (max-width: 540px) {
    /* Styles for max-width 1024px */
    .text-of-sub-container-one {
      font-size: 12px;
      justify-content: center;
      align-items: center;
      height: auto;
      padding-bottom: 1%;
    }
    .sub-container-one {
      width: 95%;
    }
    .sub-container-two {
      width: 45%;
    }
  }
  @media screen and (max-width: 430px) {
    /* Styles for max-width 1024px */
    .text-of-sub-container-one {
      font-size: 13px;
      justify-content: center;
      align-items: center;
      height: auto;
      padding-bottom: 1%;
    }
    .sub-container-one {
      width: 95%;
    }
    .sub-container-two {
      width: 80%;
    }
  }
  @media screen and (max-width: 414px) {
    /* Styles for max-width 1024px */
    .text-of-sub-container-one {
      font-size: 12px;
      justify-content: center;
      align-items: center;
      height: auto;
      padding-bottom: 1%;
    }
    .sub-container-one {
      width: 95%;
    }
    .sub-container-two {
      width: 80%;
    }
  }
  @media screen and (max-width: 390px) {
    /* Styles for max-width 1024px */
    .text-of-sub-container-one {
      font-size: 11px;
      justify-content: center;
      align-items: center;
      height: auto;
      padding-bottom: 1%;
    }
    .sub-container-one {
      width: 97%;
    }
    .sub-container-two {
      width: 70%;
    }
  }
  @media screen and (max-width: 375px) {
    /* Styles for max-width 1024px */
    .text-of-sub-container-one {
      font-size: 10px;
      justify-content: center;
      align-items: center;
      height: auto;
      padding-bottom: 1%;
    }
    .sub-container-one {
      width: 97%;
    }
    .sub-container-two {
      width: 60%;
    }
  }
  @media screen and (max-width: 360px) {
    /* Styles for max-width 1024px */
    .text-of-sub-container-one {
      font-size: 12px;
      justify-content: center;
      align-items: center;
      height: auto;
      padding-bottom: 3%;
      line-height: 1.5;
    }
    .sub-container-one {
      width: 97%;
    }
    .sub-container-two {
      width: 70%;
    }
  }
  @media screen and (max-width: 280px) {
    /* Styles for max-width 1024px */
    .text-of-sub-container-one {
      font-size: 11px;
      justify-content: center;
      align-items: center;
      height: auto;
      padding-bottom: 3%;
      line-height: 1.2;
    }
    .sub-container-one {
      width: 99%;
    }
    .sub-container-two {
      width: 80%;
    }
  }
}
