
<div class="home-background" id="home">
    <div class="home-content">
      <div>
        <h3>Mit navn er</h3>
        <h3><span>Jennifer Rasmussen</span></h3>
      </div>

      <div class="home-paragraph-holder">
        <p>
          Der er så meget misvisende information, når det drejer sig om kost,
          træning og sundhed.
        </p>
        <p>
          Derfor er det vigtigt, at du vælger den helt den rigtige personlige
          træner for DIG.
        </p>
        <p>
          Et samarbejde med mig, handler om meget mere end blot kost og
          træning. Det handler om din egen personlige udvikling. I et forløb
          hos mig får du det bedre i egen krop, mere selvværd og mentalt
          overskud. Endvidere vil jeg klæde dig godt på, så du kan fortsætte
          på egen hånd efter forløbets afslutning.
        </p>
      </div>

      <div class="btn-box-holder">
        <div class="btn-box">
          <a href="#about">Om mig</a>
        </div>
        <div class="btn-box">
          <a href="#services">Mine ydelser</a>
        </div>
        <div class="btn-box">
          <a href="#contact">Kontakt mig</a>
        </div>
      </div>
      <div class="home-sci">
        <a
          href="https://www.facebook.com/profile.php?id=100088332108953"
          target="_blank"
          ><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/fitnessbyjennifer/" target="_blank"
          ><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div (click)="goToAnotherComponent()" class="arrow-link">
      <img class="arrow-link-image" src="../../assets/arrow_right.png">
    </div>
  </div>