.slider-indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--detail);
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: var(--primary);
}
